body {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;

    canvas {
        position: relative;
        margin: auto;
        width: 1280px;
        height: 720px;
        image-rendering: pixelated;         /* Upscaling */
    }

    #collision-window {
        position: absolute;
        visibility: hidden;
    }
}